{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^@next(.*)$",
    "^@auth0(.*)$",
    "^@tanstack(.*)$",
    "^@chakra-ui(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@zuluapp/(.*)$",
    "^@/assets/(.*)$",
    "^@/b2c(?!.*mock)(.*)$",
    "^@/b2b(?!.*mock)(.*)$",
    "^@/common/(.*)$",
    "^@/config/(.*)$",
    "^@/pages/(.*)$",
    "^@/server/(.*)$",
    "^@/shared/(.*)$",
    "^@/test-utils/(.*)$",
    "^@/api-mocks/(.*)$",
    "^@/b2c(!.*mock)(.*)$",
    "^@/b2b(!.*mock)(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
